/*Animations*/

.fadeInDown{
	animation: .5s fadeInDown;
}.fade-1{
	animation: 1s fade;
}.fade_5{
	animation: .5s fade;
}.fadeInLeft{
    animation: .5s fadeInLeft;
}.fadeInRight{
    animation: .5s fadeInRight;
}.fadeInUp{
    animation: .5s fadeInUp;
}

/* Loading SVG */
.load-cont{
    width: 50%;
}

.fullRot{
    transition: .5s ease-in-out;
    animation: 1s fullRotate;
}

a:hover div{
    animation: slide 1.5s;
}

.zoom:hover{
    animation: .5s zoom;
}

.trans{
	transition: .5s ease-in-out;
}.trans-1{
	transition: 1s ease-in-out;
}.trans-ht{
    transition: max-height .5s ease-in-out;
}.hov{
    transition: .5s ease-in-out;
}.hov:hover{
    opacity: .8;
}

.open{
    animation: 1s open;
}

/* Nav gradient line */
p.nav::after{
  content: "";
  display:block;
  position:absolute;
  top: calc(80% + 5px);
  background-color: black;
  transition: .2s ease-in-out;
  width:0;
  height:1px;
}p.nav:hover:after{
	width: 100%;
}div.filter:hover .tech1{
	transform: rotate(180deg);
}

.head:after{
  content: "";
  display:block;
  position:absolute;
  top: calc(100% + 5px);
  width:100%;
  height:2.5px;
  background-image: linear-gradient(to left, #743ad5, #d53a9d);
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframe fadeInDown{
   0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fullRotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframe fullRotate{
   0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframe fadeInUp{
   0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-15px) rotate(30deg);
    }
    100% {
        -webkit-transform: translateX(1000px) rotate(30deg) scale(1.5);
    }
}

@keyframe slide{
   0% {
        transform: translateX(-15px) rotate(30deg);
    }
    100% {
        transform: translateX(1000px) rotate(30deg) scale(1.5);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframe fadeInLeft{
   0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframe fadeInRight{
   0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.5);
    }
}

@keyframe zoom{
   0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframe open{
    0%{
        opacity: 0;
        transform: translateX(-40px);
    }   
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframe fade{
   0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes extend {
    0% {
        width: 0vw;
    }
    100% {
        width: 15vw;
    }
}

@keyframe extend{
    0% {
        width: 0vw;
    }
    100% {
        width: 15vw;
    }
}