@media only screen
and (min-width: 320px)
and (max-width: 800px){

	div#borders,section#design,.sub,.container{
		margin-right: 0!important;
		margin-left: 0!important;
	}

	div#websites,div#web-scrll,.sub,.container{
		width: auto!important;
		padding: 20px;
	}div#web-scrll{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}div#web-scrll div.flx-shr{
		width: 100%!important;
	}div#web-scrll div.cust{
		width: auto!important;
	}div#web-scrll p.glassBtn{
		width: 80%!important;
	}

	.container{
		flex-direction: column!important;
		border-radius: 0!important;
	}
	
	.sub h4,.sub p,.sub h1{
		text-align: center!important;
		width: auto;
	}.sub{
		margin-top: 2%!important;
	}

	.skill{
 		width: 35px!important;
		height: 35px!important;
	}
	.cust{
		width: 150px!important;
	}

	div#des-main{
		height: auto!important;
	}div#des-main div#menuFilt{
		overflow: scroll;
	}

	.modal img{
    height: calc(100vh/2)!important;
	}

	.des-grid{
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))!important;
	}

	div#cont .container{
		flex-direction: column-reverse!important;
	}

	div#top div.container{
		width: 100%!important;
	}div#top div.w-50{
		width: 100%!important;
	}div#top div.sub{
		margin-top: 5%!important;
	}

	.greet h1{
		text-align: center!important;
		width: 100%;
	}

	nav{
		width: 100%!important;
	}.navBr{	
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	svg#contSvg{
		display: none;
	}

	.webPop,.webSub img.w-50{
		width: 100%!important;
	}.webPop{
		flex-direction: column;
		padding: 0;
		height: 100vh !important;
		border-radius: 0!important;
	}.webSub{
		padding: 0;
		flex-direction: column;
		width: 100%;
	}.webSub p{
		padding: 20px;
	}.webSub svg{
		top: 2%;
		right: 2%;
	}.webSub div.popShdw{
		margin-left: 0!important;
		width: 100%;
		padding: 0;
	}.webSub div.flow-x-scr{
		width: 80%!important;
	}
}

@media only screen 
and (min-width : 481px)
and (max-width : 800px)  {

	.skill-1{
		top:25%;
		left: 25%;	
	}.skill-2{
		top:5%;
		right: 0;
	}.skill-3{
		top:45%;
		left: 30%
	}.skill-4{
		top:15%;
		left: 5%;
	}	

	.svgCust{
		width: 350px!important;
	}

	div#skills .sub,div#cont .sub{
		flex-direction: row!important;
	}.skillCont,div#skills .sub div{
		width: 50%!important;
	}div#skills .skillCont{
		height: 100%!important;
	}

	.sklCont h4{
		width: 100%;
	}.sklCont h4,.sklCont p{
		text-align: left!important;
	}

	div#proj,div#cont,div#top{
		height: auto;
	}

	div#web-scrll{
		flex-direction: row!important;
	}div#web-scrll div.flx-shr,div#web-scrll div.webItem{
		width: 50%!important;
	}

	.webSub img.dispImg{
		width: 35%!important;
	}

	.webSub div.hide-x{
		margin-top: 2%;
	}
	.webSub p.drk-glass{
		padding: 10px!important;
	}.webSub p.lato-r{
		padding: 0px!important;
	}
}	

@media only screen
and (min-width: 1400px) {
	div#proj svg{
		width: 50%!important;
	}

	.skill{
		width: 95px!important;
 		height: 95px!important;
	}

	.logo{
		height: 75px!important;
	}

	.exit,.exit-1{
		font-size: 28px!important;
	}
}